.odi-skeleton-tabs {
  display: flex;
  gap: var(--odi-space-600, 24px);
  width: 100%;
}

.odi-skeleton-tabs__item {
  height: var(--odi-typography-body-sm-line-height);
  width: 7.5rem; /* 120px default width per spec exploration typically */
  background-color: var(--odi-color-bg-fill-tertiary);
  border-radius: var(--odi-border-radius-100);
  position: relative;
  overflow: hidden;
}

.odi-skeleton-tabs--fitted {
  width: 100%;
}

.odi-skeleton-tabs__item--fitted {
  flex: 1;
  width: auto;
}

/* Shimmer animation */
.odi-skeleton-tabs__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: odi-shimmer 2s infinite;
}

@keyframes odi-shimmer {
  100% {
    transform: translateX(100%);
  }
}
