.odi-resource-list {
  position: relative;
  background-color: var(--odi-color-bg-surface);
  border: 1px solid var(--odi-color-border-default);
  border-radius: var(--odi-border-radius-300);
  overflow: hidden;
}

.odi-resource-list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--odi-space-200) var(--odi-space-300);
  border-bottom: 1px solid var(--odi-color-border-default);
  background-color: var(--odi-color-bg-surface);
  min-height: 48px;
  box-sizing: border-box;
}

.odi-resource-list__header-content {
  display: flex;
  align-items: center;
  gap: var(--odi-space-100);
  width: 100%;
}

.odi-resource-list__header-title {
  font-weight: var(--odi-typography-body-md-font-weight);
  font-size: var(--odi-typography-body-md-font-size);
  color: var(--odi-color-text-default);
}

.odi-resource-list__filters {
  padding: var(--odi-space-200) var(--odi-space-300);
  border-bottom: 1px solid var(--odi-color-border-default);
  background-color: var(--odi-color-bg-surface);
}

.odi-resource-list__filters--flush {
  padding: 0;
}

.odi-resource-list__content {
  list-style: none;
  margin: 0;
  padding: 0;
}

.odi-resource-list__empty-state {
  padding: var(--odi-space-800) var(--odi-space-400);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--odi-space-400);
}

.odi-resource-list__loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  backdrop-filter: blur(2px);
  border-radius: var(--odi-border-radius-300);
}

.odi-resource-list__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--odi-color-bg-surface-secondary);
  padding: var(--odi-space-150) var(--odi-space-200) var(--odi-space-150)
    var(--odi-space-300);
  border-top: 1px solid var(--odi-color-border-default);
  gap: var(--odi-space-400);
}

.odi-resource-list__pagination button:is(.odi-button) {
  background-color: var(--odi-color-bg-surface-secondary-selected);
}

.odi-resource-list__pagination .odi-button-group--segmented {
  gap: var(--odi-space-050);
}

@media (hover: hover) {
  .odi-resource-list__pagination button:is(.odi-button):hover:not(:disabled) {
    background: var(--odi-color-bg-fill-tertiary-hover);
  }
}

.odi-resource-list__bulk-actions {
  display: flex;
  align-items: center;
  gap: var(--odi-space-300);
  flex: 1;
}

.odi-resource-list__bulk-actions-label {
  font-weight: var(--odi-typography-body-md-font-weight);
  font-size: var(--odi-typography-body-md-font-size);
  color: var(--odi-color-text-default);
  flex: 1;
}

/* Header Controls */
.odi-resource-list__sort-wrapper {
  margin-left: auto;
}
