.odi-tooltip-overlay {
  position: absolute;
  background-color: var(--odi-color-bg-surface);
  color: var(--odi-color-text);
  box-shadow: var(--odi-shadow-elevation-300);
  z-index: 400;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none; /* Tooltips typically don't block interaction unless they contain interactive elements (which they shouldn't usually) */
}

.odi-tooltip-overlay--active {
  opacity: 1;
}

.odi-tooltip--wide {
  max-width: 300px;
}
.odi-tooltip:not(.odi-tooltip--wide) {
  max-width: 200px;
}

.odi-tooltip--padding-default {
  padding: var(--odi-space-100) var(--odi-space-200);
}

.odi-tooltip--padding-400 {
  padding: var(--odi-space-400);
}

.odi-tooltip--border-radius-100 {
  border-radius: var(--odi-border-radius-100);
}

.odi-tooltip--border-radius-200 {
  border-radius: var(--odi-border-radius-200);
}

/* Tail/Arrow */
.odi-tooltip-tail {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--odi-color-bg-surface);
}

.odi-tooltip-activator--underline {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}

.odi-tooltip-activator {
  display: inline-block;
}
