:root {
  /* Color - Background */
  --odi-color-bg-default: #f1f1f1;
  --odi-color-bg-inverse: #1a1a1a;
  --odi-color-bg-surface: #ffffff;
  --odi-color-bg-surface-hover: #f7f7f7;
  --odi-color-bg-surface-active: #f3f3f3;
  --odi-color-bg-surface-selected: #f1f1f1;
  --odi-color-bg-surface-secondary: #f7f7f7;
  --odi-color-bg-surface-secondary-hover: #f1f1f1;
  --odi-color-bg-surface-secondary-active: #ebebeb;
  --odi-color-bg-surface-secondary-selected: #ebebeb;
  --odi-color-bg-surface-disabled: rgba(0, 0, 0, 0.05);
  --odi-color-bg-surface-tertiary: #f3f3f3;
  --odi-color-bg-surface-tertiary-hover: #ebebeb;
  --odi-color-bg-surface-tertiary-active: #e3e3e3;
  --odi-color-bg-surface-brand: #e3e3e3;
  --odi-color-bg-surface-brand-hover: #ebebeb;
  --odi-color-bg-surface-brand-active: #f1f1f1;
  --odi-color-bg-surface-brand-selected: #f1f1f1;
  --odi-color-bg-surface-info: #eaf4ff;
  --odi-color-bg-surface-info-hover: #e0f0ff;
  --odi-color-bg-surface-info-active: #cae6ff;
  --odi-color-bg-surface-success: #cdfee1;
  --odi-color-bg-surface-success-hover: #b4fed2;
  --odi-color-bg-surface-success-active: #92fec2;
  --odi-color-bg-surface-caution: #fff8db;
  --odi-color-bg-surface-caution-hover: #fff4bf;
  --odi-color-bg-surface-caution-active: #ffef9d;
  --odi-color-bg-surface-warning: #fff1e3;
  --odi-color-bg-surface-warning-hover: #ffebd5;
  --odi-color-bg-surface-warning-active: #ffe4c6;
  --odi-color-bg-surface-critical: #fee9e8;
  --odi-color-bg-surface-critical-hover: #fee2e1;
  --odi-color-bg-surface-critical-active: #fedad9;
  --odi-color-bg-surface-emphasis: #f0f2ff;
  --odi-color-bg-surface-emphasis-hover: #eaedff;
  --odi-color-bg-surface-emphasis-active: #e2e7ff;
  --odi-color-bg-surface-magic: #f8f7ff;
  --odi-color-bg-surface-magic-hover: #f3f1ff;
  --odi-color-bg-surface-magic-active: #e9e5ff;
  --odi-color-bg-surface-inverse: #303030;
  --odi-color-bg-surface-transparent: rgba(0, 0, 0, 0);
  --odi-color-bg-fill: #ffffff;
  --odi-color-bg-fill-hover: #fafafa;
  --odi-color-bg-fill-active: #f7f7f7;
  --odi-color-bg-fill-selected: #cccccc;
  --odi-color-bg-fill-disabled: rgba(0, 0, 0, 0.05);
  --odi-color-bg-fill-secondary: #f1f1f1;
  --odi-color-bg-fill-secondary-hover: #ebebeb;
  --odi-color-bg-fill-secondary-active: #e3e3e3;
  --odi-color-bg-fill-tertiary: #e3e3e3;
  --odi-color-bg-fill-tertiary-hover: #d4d4d4;
  --odi-color-bg-fill-tertiary-active: #cccccc;
  --odi-color-bg-fill-brand: #303030;
  --odi-color-bg-fill-brand-hover: #1a1a1a;
  --odi-color-bg-fill-brand-active: #1a1a1a;
  --odi-color-bg-fill-brand-selected: #303030;
  --odi-color-bg-fill-brand-disabled: rgba(0, 0, 0, 0.17);
  --odi-color-bg-fill-info: #91d0ff;
  --odi-color-bg-fill-info-hover: #51c0ff;
  --odi-color-bg-fill-info-active: #0094d5;
  --odi-color-bg-fill-info-secondary: #e0f0ff;
  --odi-color-bg-fill-success: #29845a;
  --odi-color-bg-fill-success-hover: #136f45;
  --odi-color-bg-fill-success-active: #0c5132;
  --odi-color-bg-fill-success-secondary: #cdfee1;
  --odi-color-bg-fill-caution: #ffe600;
  --odi-color-bg-fill-caution-hover: #ead300;
  --odi-color-bg-fill-caution-active: #e1cb00;
  --odi-color-bg-fill-caution-secondary: #ffef9d;
  --odi-color-bg-fill-warning: #ffb800;
  --odi-color-bg-fill-warning-hover: #e5a500;
  --odi-color-bg-fill-warning-active: #b28400;
  --odi-color-bg-fill-warning-secondary: #ffd6a4;
  --odi-color-bg-fill-critical: #e51c00;
  --odi-color-bg-fill-critical-hover: #b5260b;
  --odi-color-bg-fill-critical-active: #8e1f0b;
  --odi-color-bg-fill-critical-selected: #8e1f0b;
  --odi-color-bg-fill-critical-secondary: #fedad9;
  --odi-color-bg-fill-emphasis: #005bd3;
  --odi-color-bg-fill-emphasis-hover: #004299;
  --odi-color-bg-fill-emphasis-active: #002e6a;
  --odi-color-bg-fill-magic: #8051ff;
  --odi-color-bg-fill-magic-secondary: #e4deff;
  --odi-color-bg-fill-magic-secondary-hover: #dfd9ff;
  --odi-color-bg-fill-magic-secondary-active: #d4ccff;
  --odi-color-bg-fill-inverse: #303030;
  --odi-color-bg-fill-inverse-hover: #4a4a4a;
  --odi-color-bg-fill-inverse-active: #616161;
  --odi-color-bg-fill-transparent: rgba(0, 0, 0, 0.02);
  --odi-color-bg-fill-transparent-hover: rgba(0, 0, 0, 0.05);
  --odi-color-bg-fill-transparent-active: rgba(0, 0, 0, 0.08);
  --odi-color-bg-fill-transparent-secondary: rgba(0, 0, 0, 0.06);
  --odi-color-bg-fill-transparent-secondary-hover: rgba(0, 0, 0, 0.08);
  --odi-color-bg-fill-transparent-secondary-active: rgba(0, 0, 0, 0.11);
  --odi-color-bg-fill-transparent-selected: rgba(0, 0, 0, 0.08);

  /* Color - Text */
  --odi-color-text-default: #303030;
  --odi-color-text-secondary: #616161;
  --odi-color-text-disabled: #b5b5b5;
  --odi-color-text-link: #005bd3;
  --odi-color-text-link-hover: #004299;
  --odi-color-text-link-active: #002e6a;
  --odi-color-text-link-inverse: #c5d0ff;
  --odi-color-text-brand: #4a4a4a;
  --odi-color-text-brand-hover: #303030;
  --odi-color-text-brand-on-bg-fill: #ffffff;
  --odi-color-text-brand-on-bg-fill-hover: #e3e3e3;
  --odi-color-text-brand-on-bg-fill-active: #cccccc;
  --odi-color-text-brand-on-bg-fill-disabled: #ffffff;
  --odi-color-text-info: #00527c;
  --odi-color-text-info-hover: #003a5a;
  --odi-color-text-info-active: #002133;
  --odi-color-text-info-on-bg-fill: #002133;
  --odi-color-text-success: #0c5132;
  --odi-color-text-success-hover: #083d25;
  --odi-color-text-success-active: #092a1b;
  --odi-color-text-success-on-bg-fill: #f8fffb;
  --odi-color-text-caution: #4f4700;
  --odi-color-text-caution-hover: #332e00;
  --odi-color-text-caution-active: #1f1c00;
  --odi-color-text-caution-on-bg-fill: #332e00;
  --odi-color-text-warning: #5e4200;
  --odi-color-text-warning-hover: #412d00;
  --odi-color-text-warning-active: #251a00;
  --odi-color-text-warning-on-bg-fill: #251a00;
  --odi-color-text-critical: #8e1f0b;
  --odi-color-text-critical-hover: #5f1507;
  --odi-color-text-critical-active: #2f0a04;
  --odi-color-text-critical-on-bg-fill: #fffbfb;
  --odi-color-text-emphasis: #005bd3;
  --odi-color-text-emphasis-hover: #004299;
  --odi-color-text-emphasis-active: #002e6a;
  --odi-color-text-emphasis-on-bg-fill: #fcfdff;
  --odi-color-text-emphasis-on-bg-fill-hover: #e2e7ff;
  --odi-color-text-emphasis-on-bg-fill-active: #d5dcff;
  --odi-color-text-magic: #5700d1;
  --odi-color-text-magic-secondary: #7126ff;
  --odi-color-text-magic-on-bg-fill: #fdfdff;
  --odi-color-text-inverse: #e3e3e3;
  --odi-color-text-inverse-secondary: #b5b5b5;

  /* Color - Icon */
  --odi-color-icon-default: #4a4a4a;
  --odi-color-icon-hover: #303030;
  --odi-color-icon-active: #1a1a1a;
  --odi-color-icon-disabled: #cccccc;
  --odi-color-icon-secondary: #8a8a8a;
  --odi-color-icon-secondary-hover: #616161;
  --odi-color-icon-secondary-active: #4a4a4a;
  --odi-color-icon-brand: #1a1a1a;
  --odi-color-icon-info: #0094d5;
  --odi-color-icon-success: #29845a;
  --odi-color-icon-caution: #998a00;
  --odi-color-icon-warning: #b28400;
  --odi-color-icon-critical: #ef4d2f;
  --odi-color-icon-emphasis: #005bd3;
  --odi-color-icon-emphasis-hover: #004299;
  --odi-color-icon-emphasis-active: #002e6a;
  --odi-color-icon-magic: #8051ff;
  --odi-color-icon-inverse: #e3e3e3;
  --odi-color-icon-inverse-secondary: #b5b5b5;

  /* Color - Border */
  --odi-color-border-default: #e3e3e3;
  --odi-color-border-hover: #cccccc;
  --odi-color-border-disabled: #ebebeb;
  --odi-color-border-secondary: #ebebeb;
  --odi-color-border-tertiary: #cccccc;
  --odi-color-border-focus: #005bd3;
  --odi-color-border-brand: #e3e3e3;
  --odi-color-border-info: #a8d8ff;
  --odi-color-border-success: #92fec2;
  --odi-color-border-caution: #ffeb78;
  --odi-color-border-warning: #ffc879;
  --odi-color-border-critical: #fec3c1;
  --odi-color-border-critical-secondary: #8e1f0b;
  --odi-color-border-emphasis: #005bd3;
  --odi-color-border-emphasis-hover: #004299;
  --odi-color-border-emphasis-active: #002e6a;
  --odi-color-border-magic: #e4deff;
  --odi-color-border-magic-secondary: #9474ff;
  --odi-color-border-magic-secondary-hover: #8051ff;
  --odi-color-border-inverse: #616161;
  --odi-color-border-inverse-active: #e3e3e3;
  --odi-color-border-inverse-hover: #cccccc;

  /* Color - Specialty */
  --odi-color-specialty-backdrop-bg: rgba(0, 0, 0, 0.71);
  --odi-color-specialty-input-bg-surface: #fdfdfd;
  --odi-color-specialty-input-bg-surface-hover: #fafafa;
  --odi-color-specialty-input-bg-surface-active: #f7f7f7;
  --odi-color-specialty-input-border: #8a8a8a;
  --odi-color-specialty-input-border-hover: #616161;
  --odi-color-specialty-input-border-active: #1a1a1a;
  --odi-color-specialty-checkbox-icon-disabled: #ffffff;
  --odi-color-specialty-checkbox-bg-surface-disabled: rgba(0, 0, 0, 0.08);
  --odi-color-specialty-radio-button-icon-disabled: #ffffff;
  --odi-color-specialty-radio-button-bg-surface-disabled: rgba(0, 0, 0, 0.08);
  --odi-color-specialty-nav-bg: #ebebeb;
  --odi-color-specialty-nav-bg-surface: rgba(0, 0, 0, 0.02);
  --odi-color-specialty-nav-bg-surface-hover: #f1f1f1;
  --odi-color-specialty-nav-bg-surface-active: #fafafa;
  --odi-color-specialty-nav-bg-surface-selected: #fafafa;
  --odi-color-specialty-video-thumbnail-play-button-text-on-bg-fill: #ffffff;
  --odi-color-specialty-video-thumbnail-play-button-bg-fill: rgba(
    0,
    0,
    0,
    0.71
  );
  --odi-color-specialty-video-thumbnail-play-button-bg-fill-hover: rgba(
    0,
    0,
    0,
    0.81
  );
  --odi-color-specialty-avatar-bg-fill: #b5b5b5;
  --odi-color-specialty-avatar-one-bg-fill: #fbcffb;
  --odi-color-specialty-avatar-two-bg-fill: #38faa3;
  --odi-color-specialty-avatar-three-bg-fill: #92edde;
  --odi-color-specialty-avatar-four-bg-fill: #c0e1ff;
  --odi-color-specialty-avatar-five-bg-fill: #fed1dd;
  --odi-color-specialty-avatar-text-on-bg-fill: #ffffff;
  --odi-color-specialty-avatar-one-text-on-bg-fill: #791a79;
  --odi-color-specialty-avatar-two-text-on-bg-fill: #0c5132;
  --odi-color-specialty-avatar-three-text-on-bg-fill: #095346;
  --odi-color-specialty-avatar-four-text-on-bg-fill: #00527c;
  --odi-color-specialty-avatar-five-text-on-bg-fill: #8d0448;

  /* Space */
  --odi-space-button-group-gap: 8px;
  --odi-space-card-gap: 16px;
  --odi-space-card-padding: 16px;
  --odi-space-table-cell-padding: 6px;

  /* Border */
  --odi-border-radius-card: 12px;
  --odi-border-radius-button: 8px;
  --odi-border-radius-popover: 12px;

  /* Shadow */
  --odi-shadow-inset-100: 0px 1px 1px 0px rgba(26, 26, 26, 0.15) inset,
    0px 1px 2px 0px rgba(26, 26, 26, 0.15) inset;
  --odi-shadow-inset-200: -1px 0px 1px 0px rgba(26, 26, 26, 0.12) inset,
    1px 0px 1px 0px rgba(26, 26, 26, 0.12) inset,
    0px 2px 1px 0px rgba(26, 26, 26, 0.2) inset;
  --odi-shadow-elevation-0: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  --odi-shadow-elevation-100: 1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    -1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    0px -1px 0px 0px rgba(0, 0, 0, 0.17) inset,
    0px 1px 0px 0px rgba(204, 204, 204, 0.5) inset,
    0px 1px 0px 0px rgba(26, 26, 26, 0.07);
  --odi-shadow-elevation-200: 1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    -1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    0px -1px 0px 0px rgba(0, 0, 0, 0.17) inset,
    0px 1px 0px 0px rgba(204, 204, 204, 0.5) inset,
    0px 3px 1px -1px rgba(26, 26, 26, 0.07);
  --odi-shadow-elevation-300: 1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    -1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    0px -1px 0px 0px rgba(0, 0, 0, 0.17) inset,
    0px 1px 0px 0px rgba(204, 204, 204, 0.5) inset,
    0px 4px 6px -2px rgba(26, 26, 26, 0.2);
  --odi-shadow-elevation-400: 1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    -1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    0px -1px 0px 0px rgba(0, 0, 0, 0.17) inset,
    0px 1px 0px 0px rgba(204, 204, 204, 0.5) inset,
    0px 8px 16px -4px rgba(26, 26, 26, 0.22);
  --odi-shadow-elevation-500: 1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    -1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    0px -1px 0px 0px rgba(0, 0, 0, 0.17) inset,
    0px 1px 0px 0px rgba(204, 204, 204, 0.5) inset,
    0px 12px 20px -8px rgba(26, 26, 26, 0.24);
  --odi-shadow-elevation-600: 1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    -1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    0px -1px 0px 0px rgba(0, 0, 0, 0.17) inset,
    0px 1px 0px 0px rgba(204, 204, 204, 0.5) inset,
    0px 20px 20px -8px rgba(26, 26, 26, 0.28);
  --odi-shadow-bevel-100: 1px 0px 0px 0px rgba(26, 26, 26, 0.13) inset,
    -1px 0px 0px 0px rgba(26, 26, 26, 0.13) inset,
    0px -1px 0px 0px rgba(26, 26, 26, 0.17) inset,
    0px 1px 0px 0px rgba(204, 204, 204, 0.5) inset;
  --odi-shadow-border-inset: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
  --odi-button-group-segmented-primary-shadow: 0rem -0.0625rem 0rem 0.0625rem rgba(
        0,
        0,
        0,
        0.8
      ) inset,
    0rem 0rem 0rem 0.0625rem rgba(48, 48, 48, 1) inset,
    0rem 0.03125rem 0rem 0.09375rem rgba(255, 255, 255, 0.25) inset;
  --odi-shadow-focus: 0 0 0 2px #005bd3;

  /* Typography - Body XS */
  --odi-typography-body-xs-font-size: 11px;
  --odi-typography-body-xs-line-height: 12px;
  --odi-typography-body-xs-font-weight: 450;
  --odi-typography-body-xs-letter-spacing: 0px;
  --odi-typography-body-xs-font-family: "Inter", system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;

  /* Typography - Body SM */
  --odi-typography-body-sm-font-size: 12px;
  --odi-typography-body-sm-line-height: 16px;
  --odi-typography-body-sm-font-weight: 450;
  --odi-typography-body-sm-letter-spacing: 0px;
  --odi-typography-body-sm-font-family: "Inter", system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;

  /* Typography - Body MD */
  --odi-typography-body-md-font-size: 13px;
  --odi-typography-body-md-line-height: 20px;
  --odi-typography-body-md-font-weight: 450;
  --odi-typography-body-md-letter-spacing: -0.2px;
  --odi-typography-body-md-font-family: "Inter", system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;

  /* Typography - Body LG */
  --odi-typography-body-lg-font-size: 14px;
  --odi-typography-body-lg-line-height: 20px;
  --odi-typography-body-lg-font-weight: 450;
  --odi-typography-body-lg-letter-spacing: 0px;
  --odi-typography-body-lg-font-family: "Inter", system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;

  /* Typography - Heading SM */
  --odi-typography-heading-sm-font-size: 13px;
  --odi-typography-heading-sm-line-height: 20px;
  --odi-typography-heading-sm-font-weight: 650;
  --odi-typography-heading-sm-letter-spacing: 0px;
  --odi-typography-heading-sm-font-family: "Inter", system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;

  /* Typography - Heading MD */
  --odi-typography-heading-md-font-size: 14px;
  --odi-typography-heading-md-line-height: 20px;
  --odi-typography-heading-md-font-weight: 650;
  --odi-typography-heading-md-letter-spacing: 0px;
  --odi-typography-heading-md-font-family: "Inter", system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;

  /* Typography - Heading LG */
  --odi-typography-heading-lg-font-size: 20px;
  --odi-typography-heading-lg-line-height: 24px;
  --odi-typography-heading-lg-font-weight: 650;
  --odi-typography-heading-lg-letter-spacing: -0.2px;
  --odi-typography-heading-lg-font-family: "Inter", system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;

  /* Typography - Heading XL */
  --odi-typography-heading-xl-font-size: 24px;
  --odi-typography-heading-xl-line-height: 32px;
  --odi-typography-heading-xl-font-weight: 700;
  --odi-typography-heading-xl-letter-spacing: -0.2px;
  --odi-typography-heading-xl-font-family: "Inter", system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;

  /* Typography - Heading 2XL */
  --odi-typography-heading-2xl-font-size: 30px;
  --odi-typography-heading-2xl-line-height: 40px;
  --odi-typography-heading-2xl-font-weight: 700;
  --odi-typography-heading-2xl-letter-spacing: -0.3px;
  --odi-typography-heading-2xl-font-family: "Inter", system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;

  /* Typography - Heading 3XL */
  --odi-typography-heading-3xl-font-size: 36px;
  --odi-typography-heading-3xl-line-height: 48px;
  --odi-typography-heading-3xl-font-weight: 700;
  --odi-typography-heading-3xl-letter-spacing: -0.54px;
  --odi-typography-heading-3xl-font-family: "Inter", system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;

  /* --- Primitives --- */

  /* Primitives - Space */
  --odi-space-0: 0px;
  --odi-space-0165: 0.66px;
  --odi-space-025: 1px;
  --odi-space-050: 2px;
  --odi-space-075: 3px;
  --odi-space-100: 4px;
  --odi-space-150: 6px;
  --odi-space-200: 8px;
  --odi-space-275: 11px;
  --odi-space-300: 12px;
  --odi-space-325: 13px;
  --odi-space-350: 14px;
  --odi-space-400: 16px;
  --odi-space-500: 20px;
  --odi-space-600: 24px;
  --odi-space-700: 28px;
  --odi-space-750: 30px;
  --odi-space-800: 32px;
  --odi-space-900: 36px;
  --odi-space-1000: 40px;
  --odi-space-1200: 48px;
  --odi-space-1600: 64px;
  --odi-space-2000: 80px;
  --odi-space-2400: 96px;
  --odi-space-2800: 112px;
  --odi-space-3200: 128px;

  /* Primitives - Border Radius */
  --odi-border-radius-full: 9999px;
  --odi-border-radius-0: 0px;
  --odi-border-radius-050: 2px;
  --odi-border-radius-100: 4px;
  --odi-border-radius-150: 6px;
  --odi-border-radius-200: 8px;
  --odi-border-radius-300: 12px;
  --odi-border-radius-400: 16px;
  --odi-border-radius-500: 20px;
  --odi-border-radius-750: 30px;

  /* Primitives - Border Width */
  --odi-border-width-input: 0.66px;
  --odi-border-width-025: 1px;
  --odi-border-width-050: 2px;
  --odi-border-width-100: 4px;

  /* Primitives - Typography */
  --odi-font-family-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  --odi-font-weight-regular: 450;
  --odi-font-weight-medium: 550;
  --odi-font-weight-semibold: 650;
  --odi-font-weight-bold: 700;
  --odi-letter-spacing-densest: -0.54px;
  --odi-letter-spacing-denser: -0.3px;
  --odi-letter-spacing-dense: -0.2px;
  --odi-letter-spacing-normal: 0px;
}
